</main>
    </div>
    <footer id="footer">
        <div class="nav_wrapper">
            <div class="navarea clearfix">
                <dl>
                    <dt>ご利用ガイド</dt>
                    <!--<dd>予算で探す</dd>-->
                    <dd><a href="{{ url('homepage')~'user_data/help_payment_method' }}">お支払い方法</a></dd>
                    <dd><a href="{{ url('homepage')~'user_data/help_delivery_fee' }}">配送料</a></dd>
                    <dd><a href="{{ url('homepage')~'user_data/	help_returns' }}">返品交換</a></dd>
                </dl>
                <dl>
                    <dt>弊社のご紹介</dt>
                    <dd><a href="https://www.jcklinks.jp/company" target="_blank">会社概要</a></dd>
                    <dd><a href="https://www.jcklinks.jp/recruit" target="_blank">採用情報</a></dd>
                    <dd><a href="https://www.jcklinks.jp/works" target="_blank">施工実績</a></dd>
                </dl>
                <dl>
                    <dt>お問い合わせ</dt>
                    <dd><a href="{{ url('contact') }}" target="_blank">お問い合わせフォーム</a></dd>
                    <dd><a href="{{ url('help_privacy') }}" target="_blank">個人情報の取扱について</a></dd>
                    <dd><a href="{{ url('help_tradelaw') }}" target="_blank">特定商取引法について</a></dd>
                </dl>
                <div class="sns">
                    <a href="#" target="_blank"><img src="{{ asset('assets/assets/images/common/footer_sns_insta.png') }}" alt="Instagram"></a>
                    <a href="#" target="_blank"><img src="{{ asset('assets/assets/images/common/footer_sns_fb.png') }}" alt="Facebook"></a>
                    <a href="#" target="_blank"><img src="{{ asset('assets/assets/images/common/footer_sns_tw.png') }}" alt="Twitter"></a>
                </div>
            </div>
            <div class="sp_navarea hide">

            </div>

            <div class="infoarea">
                <dl>
                    <dt>運営会社</dt>
                    <dd class="clearfix">
                        <a href="{{ url('homepage') }}"><img src="{{ asset('assets/assets/images/common/logo.svg') }}" alt="" class="lf15"></a><br/> 有限会社ＪＣＫリンクス <br> 所在地兵庫県揖保郡太子町原635-5 <br> TEL.079-276-3522 <br> E メールinfo@jcklinks.jp
                    </dd>
                </dl>
            </div>
        </div>
    </footer>
    <div class="copy">
        <p>Copyright © 2022 有限会社ＪＣＫリンクス資材館　<br class="sp-only" />All Rights Reserved..</p>
    </div>
    <div class="side_show sp-only">
        <a href="#sidebar">商品検索</a>
    </div>